@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mainTheme: rgb(140, 98, 63);
    --secondTheme: #383134;
    --lightTheme: #ffebf5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    animation-name: beginning;
    animation-delay: 1.5s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;
    transition: ease;
    display: flex;
    flex-direction: column;
}

.init {
    color: var(--mainTheme);
    position: absolute;
    top: 40%;
    left: 45%;
    animation-name: intro;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    transition: ease;
    z-index: 100;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-height: max-content;
}

header nav {
    position: fixed;
    display: flex;
    margin-top: 2.4rem;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgb(204, 204, 204);

    opacity: 0%;
    animation-name: navBar;
    animation-delay: 2s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;

    transition: ease;
    z-index: 999;
}

header nav a {
    color: var(--mainTheme);
    text-decoration: none;
    padding-left: 2em;
    padding-right: 2em;
    margin: 10px;
    transition: 0.5s ease;
}

header nav a:hover {
    /*transform: skew(-10deg);*/
    transform: translate(0px, -5px);
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

    opacity: 0%;
    animation-name: main;
    animation-delay: 2s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;

    margin-top: 18%;
    max-height: max-content;
}

main .about {

    border-left: 2px solid var(--mainTheme);
    padding-left: 2em;
}

.introduction {

    margin-bottom: 50px;
    font-family: cursive;
    letter-spacing: 2px;

}

.introduction::first-letter {

    font-size: 1.3em;
    color: var(--mainTheme);

}

.sections {

    background-color: var(--secondTheme);

    opacity: 0%;
    animation-name: sections;
    animation-delay: 2s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;

    margin-top: 22%;
    max-height: max-content;

}

.work {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    flex-wrap: wrap;

    opacity: 0%;
    animation-name: work;
    animation-delay: 2s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;

    max-height: max-content;
}

.wintro {
    display: flex;
    flex-direction: column;

    align-items: center;
    flex-wrap: wrap;
    min-height: 20rem;
    max-height: max-content;
}

.wintro h1 {
    color: var(--lightTheme);
    font-family: cursive;
    font-weight: 900;
    font-size: xx-large;
    letter-spacing: 5px;
    text-shadow: 2px 2px 3px gray;
    margin: 5% 0 0 0;
}

.wintro h1::first-letter {
    color: rgb(179, 126, 82);
    text-shadow: 2px 2px 3px var(--mainTheme);
}

.wintro hr {
    color: var(--mainTheme);
    min-width: 30%;
    margin: 1% 0 0 0;
}

.wpara {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin: 5% 0 0 0;
}

.wpara h3 {
    color: var(--lightTheme);
}

.emphasize {
    color: var(--mainTheme);
}

.wContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10% 0 0 0;
    max-width: 100%;
}

.wcCard {
    background-color: var(--lightTheme);
    border-radius: 10px;
    max-width: 20rem;
    max-height: 300px;
    overflow: hidden;
    margin: 5em;

    transition: 0.7s ease;
}

.wcCard:hover {
    transform: scale(1.1);
    cursor: default;
}

.wccDetails {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 4rem;

}

.wccDetails strong {
    transition: 0.2s ease;
}

.wccDetails strong:hover {
    color: var(--mainTheme);
}

.contact {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    
    flex-wrap: wrap;

    opacity: 0%;
    animation-name: contact;
    animation-delay: 2s;
    animation-duration: 1.7s;
    animation-fill-mode: forwards;

    margin-top: 18%;
    max-height: max-content;

}

.ctitle {
    margin: 10% 0 0 -10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ctitle h1 {
    color: var(--lightTheme);
    font-family: cursive;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 5px;
    text-shadow: 3px 3px 3px gray;
}

.ctitle hr {
    margin: 1rem 0 1rem 0;
    color: var(--mainTheme);
    width: 100%;
}

.ctitle h3 {
    color: gray;
}

.connections {
    margin: 10% -10% 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.connections h2 {
    display: inlines;
    color: gray;
    margin: 10px 0 10px 0;
}

.connections a {
    text-decoration: none;
    color: var(--lightTheme);
    position: relative;
    right: 5%;
}

footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
    flex-wrap: wrap;

    margin-top: 18%;
    max-height: max-content;

}

footer hr {
    color: rgb(95, 95, 95);
    width: 100%;
}

footer h3 {
    color: rgba(115, 80, 52, 0.431);
    margin: 1em;

}

@keyframes intro {

    to {
        opacity: 0%;
        display: none;
    }
    
}

@keyframes beginning {

    to {
        background-color: white;
    }
    
}

@keyframes navBar {

    to {
        opacity: 100%;
    }
    
}

@keyframes main {

    to {
        opacity: 100%;
    }
    
}

@keyframes work {

    to {
        opacity: 100%;
    }
    
}

@keyframes contact {

    to {
        opacity: 100%;
    }
    
}

@keyframes sections {

    to {
        opacity: 100%;
    }
    
}

@media screen and (max-width: 880px) {
    .about {
        margin: 5rem;
    }

    .wpara {
        margin: 2rem;

    }

    header nav {
        margin: 1rem;
    }

    .contact {

        flex-direction: column;

        align-items: center;

    }

    .ctitle {
        margin: 0;
    }

    .connections {
        margin: 0;
    }

    .contact div {
        margin: 5em 0 5em 0;
    }

}

@media screen and (max-width: 1290px) {
    .wpara h3 {
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 376px) {
    .ctitle h1 {
        font-size: xx-large;
    }
}

@media screen and (max-width: 420px) {

    .wccDetails {
        justify-content: center;
    }

    .wccDetails p {
        padding: 1em;
    }
    
}